.react-mde {
   border: none !important;

   .mde-header {
      border: none;
      flex-wrap: nowrap;
      overflow: hidden;

      overflow-x: auto;

      position: sticky;
      top: 0;
      z-index: 1;

      height: 50px;
      display: flex;
      align-items: center;

      .mde-tabs {
         display: none;
      }

      & > .mde-header-group {
         padding-left: 0;
         padding-right: 5px;
      }

      ul.mde-header-group li.mde-header-item {
         display: flex;
         margin: 0;

         button {
            padding: 0;
            padding: 5px 10px;
            height: auto;
            overflow: hidden;
            width: 35px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
         }
      }

      .svg-icon {
         font-size: 15px;
      }
   }

   .mde-text {
      height: calc(100vh - 380px) !important;

      &:disabled {
         background-color: #fafafa;
      }

      @media screen and (max-width: 768px) {
         min-height: 250px !important;
         height: calc(100vh - 355px) !important;
      }

      &:focus {
         outline: none;
      }

      &::placeholder {
         letter-spacing: 1px;
         font-size: 18px;
         color: #525252;

         @media screen and (max-width: 480px) {
            font-size: 16px;
         }
      }
   }

   .mde-text,
   .mde-preview {
      font-size: 19px;
      padding: 10px;

      @media screen and (max-width: 768px) {
         font-size: 17px;
      }

      @media screen and (max-width: 480px) {
         font-size: 16px;
         padding: 5px !important;
      }
   }

   .mde-preview-content {
      pre,
      p code {
         background-color: black !important;
         color: white;
      }

      img {
         max-width: 100%;
         border-radius: 5px;
      }
   }
}

//discussion box styles

.discussion-box .react-mde {
   .mde-header {
      height: 42px;

      & > .mde-header-group {
         padding: 0 5px;
      }
   }

   .mde-text,
   .mde-preview {
      font-size: 16px;

      min-height: 150px !important;
      height: auto !important;
   }
}
