.mde-preview .mde-preview-content {
   padding: 0;
   font-family: monospace;

   h3 {
      font-weight: 700 !important;
      border-bottom: none;
   }

   pre,
   p code {
      background-color: #08090a !important;
      color: white;
   }

   img {
      border-radius: 5px;
   }
}
