.mde-preview .mde-preview-content {
  padding: 0;
  font-family: monospace;

  h2 {
    border-bottom: none;
    font-size: 1.2rem;
    font-weight: 700 !important;
    margin-bottom: 0.2rem !important;
  }

  h3 {
    font-weight: 700 !important;
    border-bottom: none;
    margin-bottom: 0.2rem !important;
  }

  pre {
    background-color: #08090a !important;
  }

  code:not(pre code) {
    // background-color: #d5d5d5;
    background-color: #ffc600;
    color: black;
  }

  img {
    border-radius: 5px;
  }
}
