* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #f5f5f5 !important;
   overflow: overlay;
}

@media screen and (max-width: 480px) {
   body {
      overflow: auto;
   }
}

/* customize markdown style */

.react-mde,
.mde-header {
   border: none;
}

.mde-header .mde-tabs button {
   padding: 0 10px;
   border-radius: 5px;
   font-size: 14px;
}

.mde-textarea-wrapper textarea.mde-text {
   border: 1px solid #e2e8f0;
}

.mde-textarea-wrapper textarea.mde-text:focus {
   outline: none;
}

.mde-text,
.mde-preview {
   font-size: 1rem;
}

.mde-header .svg-icon {
   font-size: 15px;
}

.mde-preview-content pre,
.mde-preview-content p code {
   background-color: black !important;
   color: white;
}

.mde-preview-content img {
   width: 250px;
   height: 105px;
   object-fit: scale-down;
}

.mde-header ul.mde-header-group li.mde-header-item button {
   padding: 0 4px;
}

/*end of customize markdown style */
