* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   padding-top: calc(56px + 0.5rem) !important;
   background-color: #f5f5f5 !important;
}

input:focus,
textarea:focus,
select:focus {
   background-color: rgb(255, 255, 255) !important;
   border-color: rgb(59, 73, 223) !important;
   box-shadow: 0 0 0 1px rgb(59, 73, 223) !important;
}

textarea.mde-text {
   border: none !important ;
   box-shadow: none !important;
}
